body {
    background-color: green
}

.icon-yt
{
    opacity: 1;
    margin-left:500px;
    margin-right:500px;
    
}

.icon-dc
{
    opacity: 1;
    margin-left:500px;
    margin-right:500px;
    
}
.icon-tw
{
    opacity: 1;
    margin-left:500px;
    margin-right:500px;
    ;
}
