body {
    background-color: green
}

#iconpadrao {
    position: absolute;
    top: 0rem;
    left: 45rem;
}

#iconsombra {
    opacity: 0.5;
    position: absolute;
    top: 0rem;
    left: 45rem; 
}
